@import "./globals.scss";

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.inputForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 40vw;
  margin-left: 5vw;
}
.result {
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5em;
  padding: 5vw;
  max-width: 40vw;
}

.result ul {
  list-style: none;
  padding-left: 0;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40vw;
  padding-left: 0;
  padding-bottom: 20px;
  margin-left: 0;
}

.row input {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 15vw;
  margin-left: 10px;
  padding-top: 3%;
  height: 3vh !important;
  font-size: 22px;
  font-weight: bold;
  color: $background;
  background-color: $success;
}

.row input::-webkit-input-placeholder {
  color: $warning;
}

.row label {
  float: left;
  margin-right: 3vw;
}

.row input::-webkit-outer-spin-button,
.row input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.row input:out-of-range {
  background-color: rgba(255, 0, 0, 0.25);
}

.row input:out-of-range + label::after {
  content: "out of range!";
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: left;
  font-size: 18px;
  padding-left: 0;
  color: $primary;
}

.btn {
  border-radius: 0;
  height: 40px;
  width: 60px;
  margin-left: 1vw;
  cursor: pointer;
  &_prim {
    margin-left: 4vw;
    border-radius: 0;
    height: 40px;
    width: 60px;
    margin-left: 4vw;
    cursor: pointer;
  }
}

.btn:focus,
.btn_prim:focus {
  background-color: $success;
  color: $background;
}

.btn:visited,
.btn_prim:visited {
  background-color: $success;
  color: $background;
}

.slider {
  text-align: center;
  margin-left: 8vw;
  margin-top: 3vh;
  width: 8vw;
  font-size: 8px;
  overflow-x: visible;
}
