@import "./globals.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: $primary;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $primary;
  width: 100vw;
}

.title {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.description a {
  color: $secondary;
  text-decoration: none;
}

.description a:hover {
  color: $success;
  text-decoration: none;
}

.grid {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #eaeaea;
}

.footer {
  width: 80vw;
  height: 0px;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
}
